@model Car

<div>
    <img class="img-thumbnail" src="@Model.img" all="@Model.name"/> 
    <h2>Модель: @Model.name</h2>
    <p>@Model.shortDesc</p>
    <p>Цена: @Model.price.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-Id="@Model.id">Buy</a></p>
</div>